body{
  color: white;
  font-family: arial black;
  font-size: 20px;
  background-image: url("vr.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}


h3{
  text-align: right;  
}

a {
 margin-left: 1335; 
}

.box {
  float: left;
  width: 150px;
  height: 10px;
  margin: 1em;
  background-color: transparent;
  color: white; 
  margin-left: 100px;
}
.after-box {
  clear: left;
}

.box2{
  float: right;
  width: 150px;
  height: 10px;
  margin: 1em;
  background-color: transparent;
  color: white;
  margin-right; 100px
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: white;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-left: 300px;
}

.button:hover {background-color: red}

.button:active {
  background-color: white;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.updates{
background-color: white;
border: 1px solid white;
border-radius: 30%;
width: 700px;
height: 350px;
margin-top: 50px;
}
